<section id="banner">
    <div class="content">
        <header>
            <h1>Create a Project<br />
            </h1>
        </header>
        <p>Please input details to create your project</p>
    </div>
</section>

<section>

    <form action='/create' method='POST' >
        <div class="row gtr-uniform">
            <div class="row gtr-uniform">
                <div class="col-12 col-12-xsmall">
                    <input type="text" id="projectNameInput" name="proName" value="" placeholder="Project Name" />
                </div>
                <div class="col-12 col-12-xsmall">
                    <textarea type="text" id="projectDescInput" name="proDesc" placeholder="Enter your description" rows="6"></textarea>
                </div>
                <div class="col-12 col-12-xsmall">
                    <input type="text" value="" id="projectImgInput" name="proImg" placeholder="img url" />
                </div>

                

            </div>



            <!-- Break -->
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" id='projectSubmit' value="Submit" class="primary"/></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>
