<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar"></nav>
    <div class="container">
      <div class="profileCard">
        <div class="pictureBox">
          <img src="https://picsum.photos/100" alt="" />
        </div>
        <div class="info">
          <h4 class="name"><%= name %></h4>
          <h4 class="email"><%= email %></h4>
        </div>
      </div>
      <div class="description">
          <h3>Welcome to my Profile</h3>
          <h6>Short description of myself and the thing I like to do and work on</h6>
      </div>
      <div class="body">
        <div class="projectsContainer">
          <h3>My projects</h3>
          <div class="projects">
              <div class="pro pro1">

                  <h4>Project1</h4>
                <img src="https://picsum.photos/180/100" alt="">
                <h5>Short description of the project</h5>
              </div>
              <div class="pro pro2">project2</div>
              <div class="pro pro3">project3</div>
              <div class="pro pro4">project4</div>
              <div class="pro pro5">project5</div>
              <div class="pro pro6">project6</div>
              <div class="pro pro7">project7</div>
              <div class="pro pro8">project8</div>
              <div class="pro pro9">project9</div>
              <div class="pro pro10">project10</div>
              <div class="pro pro11">project11</div>
          </div>
        </div>
        <div class="followersContainer">
          <h3>My Followers</h3>
          <div class="followers">

                <div class="fol fol1">

                        <h4>follower Name</h4>
                      <img src="https://picsum.photos/180/101" alt="">
                      <h5>Short description</h5>
                    </div>
                  <div class="fol fol2">
        
                        <h4>follower Name</h4>
                      <img src="https://picsum.photos/180/101" alt="">
                      <h5>Short description</h5>
                    </div>
          </div>
        </div>
      </div>
    </div>
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "/js/userPage.js" ></script>
  </body>
</html>
